@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global */
:root {
  --font-FSAlber: "FSAlbert";
  --font-BodoniMT: "Bodoni MT";
  --font-GE-Dinar-One: "GE Dinar One";
  --font-Inter: "Inter", sans-serif;
  --main-green: #193b33;
  --dark-gray: #4a4a4a;
  --light-gray: #afb3b1;
  --main-gold: #d0bc70;
  --light-gold: #ebebe5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-BodoniMT);
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 35px 20px;
}

body {
  background-color: #000;
}

.title-1 {
  font-size: clamp(48px, 6vw, 128px);
  text-align: center;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

/* Nav */

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.3s background ease, 0.3s backdrop-filter ease;
}

nav .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 999;
  transition: 0.3s padding ease;
}

nav.scrolling {
  backdrop-filter: blur(12px);
  background: #00000033;
}

nav.scrolling .container {
  padding: 10px 20px;
}

nav .container .logo {
  max-width: 295px;
  max-height: 139px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

nav .container .logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

nav .container .options {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: clamp(18px, 2vw, 24.61px);
}

nav .container .options .toggle-language {
  text-decoration: none;
  color: #fff;
  font-family: var(--font-GE-Dinar-One);
}

nav .container .options button {
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

nav .container .options button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav .container .options .toggle-menu img.close {
  filter: brightness(10) invert(1);
}

nav:has(.popup-menu.show) .container .options .toggle-menu img.open,
nav .container .options .toggle-menu img.close {
  display: none;
}

nav:has(.popup-menu.show) .container .options .toggle-menu img.close {
  display: block;
}

nav .popup-menu {
  position: fixed;
  left: -0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #00000033;
  backdrop-filter: blur(12px);
  pointer-events: none;
  opacity: 0;
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  transition: 0.3s all ease;
}

nav .popup-menu.show {
  pointer-events: all;
  opacity: 1;
}

nav .popup-menu .container-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #193c33;
  transition: 0.3s all ease;
  padding-top: 120px;
  padding-bottom: 80px;
  height: 100%;
  width: 527px;
  max-width: 100%;
  scale: 1 0;
  transition: 0.3s all ease;
}

nav .popup-menu.show .container-popup {
  scale: 1 1;
}

nav .popup-menu .list-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  gap: 14px;
  padding-inline: 20px;
  min-height: 400px;
}

nav .popup-menu .list-menu :is(a, .toggle-inner-list) {
  font-size: clamp(20px, 2.4vw, 30.11px);
  text-decoration: none;
  font-weight: 400;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}

nav .popup-menu .list-menu :is(a, .toggle-inner-list) img {
  width: 16px;
  height: 16px;
  transition: 0.3s all ease;
}

nav .popup-menu .list-menu :is(a, .toggle-inner-list).show img {
  rotate: 180deg;
}

nav .popup-menu .list-menu li .toggle-inner-list {
  margin-bottom: 8px;
}

nav .popup-menu .list-menu li .inner-list {
  display: flex;
  flex-direction: column;
  gap: 12px 40px;
  opacity: 0;
  translate: 0 -20px;
  height: 0;
  overflow: hidden;
  transition: translate 0.3s ease, opacity 0.3s ease;
}

nav .popup-menu .list-menu li:has(.toggle-inner-list.show) .inner-list {
  opacity: 1;
  height: auto;
  translate: 0 0;
}

nav .popup-menu .list-menu li .inner-list .item-inner {
  position: relative;
  font-weight: 400;
  color: #a4a4a4;
  transition: 0.3s all ease;
}

nav .popup-menu .list-menu li .inner-list .item-inner::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: #fff;
  transition: 0.3s all ease;
}

nav .popup-menu .list-menu li .inner-list .item-inner:not(:last-child)::after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #4b4b4b;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: -20px;
}

nav .popup-menu .list-menu li .inner-list .item-inner:hover::before {
  width: 100%;
}

nav .popup-menu .list-footer-menu {
  position: fixed;
  bottom: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

nav .popup-menu .list-footer-menu a {
  color: #ffffff8f;
  transition: 0.3s all ease;
  text-decoration: none;
  font-family: var(--font-FSAlber);
}

nav .popup-menu .list-footer-menu a:hover {
  color: #ffffff;
}

nav.dark-nav:not(:has(.popup-menu.show)) .container .options .toggle-language {
  color: #000;
}

nav.dark-nav:not(:has(.popup-menu.show)) .container .options button img {
  filter: brightness(0.2);
}

@media (max-width: 992px) {
  nav .container .logo {
    max-width: 150px;
  }
}

@media (max-width: 668px) {
  nav .container .options {
    gap: 16px;
  }

  nav .popup-menu.show .container-popup {
    text-align: center;
  }

  nav .popup-menu .list-menu li .inner-list .item-inner::before {
    left: 50%;
    translate: -50% 0;
  }

  nav .popup-menu .list-footer-menu {
    gap: 16px;
    justify-content: center;
  }
}

.inner-page,
.home-page {
  position: relative;
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
}

.inner-page .bg-home,
.home-page .bg-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

:is(.inner-page, .home-page) .bg-home img,
:is(.inner-page, .home-page) .bg-home video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-page .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 220px;
  max-width: 910px;
  gap: 20px;
  flex-wrap: wrap;
}

.home-page .container a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: #ededed;
  font-weight: 700;
  font-size: clamp(26px, 3.6vw, 51px);
  text-decoration: none;
  opacity: 0.7;
  border-bottom: 1px solid transparent;
  transition: 0.3s all ease-in-out;
}

.home-page .container a:hover {
  scale: 1.3;
  opacity: 1;
  border-bottom-color: #fff;
}

@media (max-width: 778px) {
  .home-page .container {
    justify-content: center;
    gap: 32px;
  }
}

footer {
  background: #c4b681;
  position: relative;
  z-index: 1;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 30px;
}

footer .container .copyright-text,
footer .container .copyright-text span {
  color: #fff;
  font-size: clamp(16px, 2vw, 23px);
  font-family: var(--font-FSAlber);
}

footer .container .social {
  display: flex;
  align-items: center;
  gap: 37px;
}

footer .container .social a {
  width: 27px;
  height: 27px;
  transition: 0.3s all ease-in-out;
}

footer .container .social a img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

footer .container .social a:hover {
  scale: 1.2;
}

@media (max-width: 558px) {
  footer .container {
    flex-direction: column-reverse;
    gap: 16px;
    text-align: center;
  }
}

.inner-page>.container {
  padding-block: 200px 20px;
}

@media (max-width: 778px) {
  .inner-page>.container {
    padding-block: 140px 20px;
  }
}

.inner-page.books-now .container {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.inner-page.books-now .container .list-books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.inner-page.books-now .container .list-books .item-book {
  background: #ffffff4d;
  border: 1.74px solid #af911d;
  backdrop-filter: blur(3.478787899017334px);
  flex: 1;
  flex-basis: 450px;
  max-width: 553px;
  padding: 24px 20px;
  position: relative;
}

.inner-page.books-now .container .list-books .item-book .link-book {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.inner-page.books-now .container .list-books .item-book .container-item {
  display: flex;
  background: #ffffff;
}

.inner-page.books-now .container .list-books .item-book .container-item .right-side {
  max-width: 197px;
  height: 270px;
  flex: 1 1 100%;
  overflow: hidden;
}

.inner-page.books-now .container .list-books .item-book .container-item .right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all ease;
}

.inner-page.books-now .container .list-books .item-book:hover .container-item .right-side img {
  scale: 1.2;
}

.inner-page.books-now .container .list-books .item-book .container-item .left-side {
  flex: 1;
  padding: 30px 20px 17px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-page.books-now .container .list-books .item-book .container-item .left-side .title {
  font-size: clamp(20px, 2vw, 26px);
  font-weight: 700;
  color: var(--main-green);
}

.inner-page.books-now .container .list-books .item-book .container-item .left-side .description {
  font-family: var(--font-FSAlber);
  font-size: 14.78px;
  line-height: 113%;
  padding-inline-end: 20px;
  color: var(--dark-gray);
}

.inner-page.books-now .container .list-books .item-book .container-item .left-side .properties {
  display: flex;
  align-items: center;
  gap: 12px;
}

.inner-page.books-now .container .list-books .item-book .container-item .left-side .properties .item-property {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inner-page.books-now .container .list-books .item-book .container-item .left-side .properties .title-property {
  font-family: var(--font-Inter);
  color: var(--light-gray);
  font-size: 12.33px;
}

.inner-page.books-now .container .list-books .item-book .container-item .left-side .properties .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: auto;
}

.inner-page.books-now .container .list-books .item-book .container-item .left-side .properties .icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 992px) {
  .inner-page.books-now .container .list-books .item-book {
    flex-basis: 300px;
  }

  .inner-page.books-now .container .list-books .item-book .container-item .left-side {
    padding: 20px;
    gap: 12px;
  }

  .inner-page.books-now .container .list-books .item-book .container-item {
    flex-direction: column-reverse;
  }

  .inner-page.books-now .container .list-books .item-book .container-item .right-side {
    max-width: 100%;
  }
}

@media (max-width: 668px) {}

.inner-page.booking-detail {
  position: relative;
}

.inner-page.booking-detail .bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  z-index: -1;
}

.inner-page.booking-detail .bg-fixed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: color;
  background: #c4b681;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  z-index: 1;
}

.inner-page.booking-detail .bg-fixed video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-page.booking-detail .container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.inner-page.booking-detail .container .left-side {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inner-page.booking-detail .container .left-side .title {
  font-size: clamp(48px, 6vw, 128px);
  line-height: 85%;
  color: var(--main-green);
  font-weight: 700;
  padding-inline-end: 80px;
}

.inner-page.booking-detail .container .left-side .content-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inner-page.booking-detail .container .left-side .content-box .box {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.inner-page.booking-detail .container .left-side .content-box .box .title-box {
  font-size: clamp(18px, 3vw, 29.44px);
  color: var(--main-gold);
  font-weight: 700;
  margin: 0;
}

.inner-page.booking-detail .container .left-side .content-box .box .description,
.inner-page.booking-detail .container .left-side .content-box .box .description li {
  font-size: clamp(15px, 2vw, 17px);
  font-weight: 400;
  font-family: var(--font-FSAlber);
  list-style: none;
  position: relative;
}

.inner-page.booking-detail .container .left-side .content-box .box .description li {
  padding-inline-start: 20px;
}

.inner-page.booking-detail .container .left-side .content-box .box .description li::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 6px;
  left: 0;
}

.inner-page.booking-detail .container .left-side .content-box .box .description li.red::before {
  background: red;
}

.inner-page.booking-detail .container .left-side .content-box .box .description li.green::before {
  background: green;
}

.inner-page.booking-detail .right-side .details .img-books {
  display: flex;
  max-width: 413px;
  height: 507px;
}

.inner-page.booking-detail .right-side .details .img-books img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-page.booking-detail {
  background: var(--light-gold);
  z-index: 1;
}

.inner-page.booking-detail .right-side {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.inner-page.booking-detail .right-side .details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.inner-page.booking-detail .right-side .details .detail {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 429px;
}

.inner-page.booking-detail .right-side .details .title {
  font-size: clamp(28px, 4vw, 62.16px);
  color: var(--main-green);
  font-weight: 700;
  line-height: 85%;
}

.inner-page.booking-detail .right-side .details .description {
  font-size: clamp(15px, 2vw, 17px);
  font-weight: 17;
  color: #565555;
  font-family: var(--font-FSAlber);
}

.inner-page.booking-detail .right-side .details .groups-form {
  display: flex;
  flex-direction: column;
  max-width: 382px;
  gap: 20px;
}

.inner-page.booking-detail .right-side .details .groups-form .group-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inner-page.booking-detail .right-side .details .groups-form .group-form .wrapper-input {
  position: relative;
  display: flex;
}

.inner-page.booking-detail .right-side .details .groups-form .group-form label {
  font-family: var(--font-FSAlber);
  font-size: clamp(16px, 2vw, 18px);
  color: #4a4a4a;
}

.inner-page.booking-detail .right-side .details .groups-form .group-form input {
  border: 1.15px solid #c4b581;
  outline: none;
  padding: 10px 20px;
  line-height: 85%;
  flex: 1 1 100%;
  font-family: var(--font-FSAlber);
  font-size: clamp(16px, 2vw, 18px);
}

.ui-timepicker-wrapper {
  width: 200px !important;
}

.inner-page.booking-detail .right-side .details .groups-form .group-form .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 19px;
  height: 19px;
  translate: 0 -50%;
  z-index: -1;
}

.inner-page.booking-detail .right-side .details .groups-form .group-form .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.inner-page.booking-detail .right-side .details .groups-form .nice-select {
  border: 1.15px solid #c4b581;
  outline: none;
  padding: 10px 20px;
  line-height: 85%;
  flex: 1 1 100%;
  border-radius: 0;
  background: none;
  font-family: var(--font-FSAlber);
  color: #9a9a9a;
  height: fit-content;
  font-size: clamp(16px, 2vw, 18px);
}

.inner-page.booking-detail .right-side .details .groups-form .nice-select * {
  font-family: var(--font-FSAlber);
}

.inner-page.booking-detail .right-side .details .groups-form .nice-select:after {
  border-bottom-color: #c4b581;
  border-right-color: #c4b581;
  height: 10px;
  width: 10px;
  margin-top: -8px;
  right: 15px;
}

.inner-page.booking-detail .right-side .details .groups-form .nice-select .list {
  background: var(--light-gold);
}

.ui-widget.ui-widget-content *:not(.ui-datepicker .ui-datepicker-prev span,
  .ui-datepicker .ui-datepicker-next span) {
  font-family: var(--font-FSAlber);
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  background: none;
  border: none;
  text-align: center;
  height: 28px;
  width: 28px;
  margin-inline: auto;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
}

.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover {
  border-color: #af911d;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: #af911d;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  color: #af911d;
  border-color: #af911d;
}

.ui-widget-header {
  background: none;
  border: none;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  transition: 0.3s all ease-in-out;
}

.ui-datepicker .ui-datepicker-prev span {
  background: url(../images/arrow-left.svg) no-repeat center center;
}

.ui-datepicker .ui-datepicker-next span {
  background: url(../images/arrow-right.svg) no-repeat center center;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  transition: 0.3s all ease-in;
  border-radius: 50%;
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
  left: 0;
}

.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-prev:hover {
  background: var(--main-gold);
}

.ui-datepicker .ui-datepicker-next:hover span,
.ui-datepicker .ui-datepicker-prev:hover span {
  filter: brightness(10);
}

.ui-widget.ui-widget-content {
  background: #ffffff4d;
  backdrop-filter: blur(10px);
}

.ui-timepicker-list .ui-timepicker-selected:hover,
.ui-timepicker-list li:hover,
li.ui-timepicker-selected {
  background: var(--main-gold);
}

.inner-page.booking-detail .right-side .details .groups-form .button-submit {
  background: #c4b581;
  padding-block: 10px;
  font-family: var(--font-FSAlber);
  font-size: clamp(16px, 2vw, 18px);
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.inner-page.booking-detail .right-side .details .groups-form .button-submit:hover {
  background: #9b9066;
}

@media (max-width: 1500px) {
  .inner-page.booking-detail .right-side .details {
    flex-direction: column-reverse;
  }

  .inner-page.booking-detail .right-side .details .img-books {
    max-width: 100%;
  }

  .inner-page.booking-detail .right-side .details .detail {
    max-width: 100%;
  }

  .inner-page.booking-detail .right-side .details .groups-form {
    max-width: 100%;
  }

  .inner-page.booking-detail .container .left-side {
    position: sticky;
    top: 200px;
    height: fit-content;
  }
}

@media (max-width: 778px) {
  .inner-page.booking-detail .container .left-side {
    position: static;
    max-width: 100%;
    gap: 24px;
  }

  .inner-page.booking-detail .container {
    flex-direction: column;
    gap: 20px;
  }

  .inner-page.booking-detail .right-side {
    padding: 20px 0;
  }

  .inner-page.booking-detail .container .left-side .title {
    padding: 0;
  }

  .inner-page.booking-detail .right-side .details .img-books {
    height: 450px;
  }
}

@media (max-width: 558px) {
  .inner-page.booking-detail .right-side .details .img-books {
    height: 400px;
  }
}

/* events */
.inner-page.events {
  padding-block: 160px 20px;
}

@media (max-width: 992px) {
  .inner-page.events {
    padding-block: 140px 20px;
  }
}

.inner-page.events {
  display: flex;
  flex-direction: column;
  background: var(--light-gold);
}

.inner-page.events .filter-event {
  display: flex;
  justify-content: flex-end;
  background: url(../images/pattern.svg) no-repeat left center;
  width: 100%;
  margin-top: 20px;
}

.inner-page.events .filter-event .container {
  display: flex;
  justify-content: flex-end;
}

.inner-page.events .filter-event .container .filter-wrapper {
  padding-block: 8px;
  border-left: 1px solid #848066;
}

.inner-page.events .filter-event .container .filter-wrapper .filter {
  position: relative;
}

.inner-page.events .filter-event .container .filter-wrapper .filter:not(:last-child):before {
  width: 1px;
  height: 26px;
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  translate: 0 -50%;
  background: #9DD3C9;
}

.inner-page.events .filter-event .container .filter-wrapper .nice-select {
  background: none;
  border: none;
  font-size: clamp(16px, 2vw, 22px);
}

.inner-page.events .filter-event .container .filter-wrapper .nice-select .nice-select-dropdown {
  min-width: fit-content;
}

.inner-page.events .filter-event .container .filter-wrapper .nice-select * {
  font-family: var(--font-FSAlber);
  color: #636363;
}

.inner-page.events .filter-event .container .filter-wrapper .nice-select::after {
  height: 10px;
  width: 10px;
  margin-top: -8px;
}

.inner-page.events .filter-event .container .filter-wrapper .nice-select::after {
  border-bottom-color: #c4b681;
  border-right-color: #c4b681;
}


.inner-page.events .events-content {
  width: 100%;
}

.inner-page.events .events-content .container {
  display: flex;
  gap: 32px;
}

.inner-page.events .events-content .container .left-side {
  position: sticky;
  top: 140px;
  height: fit-content;
}

.inner-page.events .events-content .container .left-side .title {
  color: var(--main-green);
  font-size: clamp(48px, 6vw, 128px);
  font-weight: 700;
}

.inner-page.events .events-content .container .left-side .wrapper-calendar {
  padding: 62px;
  background: url(../images/pattern-calendar.svg) center center no-repeat;
  background-size: contain;
}

.inner-page.events .events-content .container .left-side .wrapper-calendar .ui-datepicker {
  border: none;
}

.inner-page.events .events-content .container .left-side .wrapper-calendar .ui-datepicker th {
  color: #C4B681;

}

.inner-page.events .events-content .container .left-side .wrapper-calendar .ui-datepicker .ui-datepicker-title {
  color: #636363;
}


.inner-page.events .events-content .container .right-side {
  flex: 1 1 100%;
}

.inner-page.events .events-content .container .right-side .list-events {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.inner-page.events .events-content .container .right-side .list-events .event-item {
  flex: 1;
  flex-basis: 350px;
  max-width: 600px;
  background: #FFFFFF80;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inner-page.events .events-content .container .right-side .list-events .event-item .image-event {
  position: relative;

}

.inner-page.events .events-content .container .right-side .list-events .event-item .image-event img {
  filter: grayscale(10);
}

.inner-page.events .events-content .container .right-side .list-events .event-item .image-event::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #C4B581;
  opacity: 0.79;
  z-index: 1;
}

.inner-page.events .events-content .container .right-side .list-events .event-item .body-event {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inner-page.events .events-content .container .right-side .title-event {
  font-size: clamp(24px, 3vw, 33.68px);
  color: #AF911D;
  font-family: var(--font-FSAlber);
  margin: 0;
  line-height: 34.64px;
}

.inner-page.events .events-content .container .right-side .date {
  font-family: var(--font-FSAlber);
  font-size: clamp(17px, 2vw, 18px);
  color: #C4B681;
  line-height: 24.8px;
}

.inner-page.events .events-content .container .right-side .description-event {
  font-family: var(--font-FSAlber);
  font-size: clamp(16px, 2vw, 17px);
  color: var(--dark-gray);
  line-height: 113.99999999999999%;
  padding-inline-end: 26px;
}

@media (max-width:992px) {
  .inner-page.events .events-content .container{
    flex-direction: column;
  }
  .inner-page.events .events-content .container .left-side {
    position: static;
  }
  .inner-page.events .events-content .container .left-side .wrapper-calendar{
    width: fit-content;
    margin-inline: auto;
  }
}